/* 
background color: #f9fefd
primary color: #1abc9c
secondary color : #bdc3c7
sec. color--darker : #abb2b7
sec. color--liter : #d9dcde
*/
/* ---------HEADER/start */
.header {
  overflow: auto;
}
.header__bar {
  justify-content: flex-start;
  height: 5.2rem;
}
.icon {
  width: 3.2rem;
  height: 3.2rem;
}

/* READING BAR/start */

.header__reading-bar {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdc3c7;
  padding: 0 15%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.123);
}

.sticky {
  top: 0;
  position: fixed;
  z-index: 9999999;
}

/* sreah bar */
.reading-bar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  left: 37%; */
  /* margin-left: 10rem; */
}

.search {
  width: 55rem;
  font-size: 1.8rem;
  padding: 0.45rem;
  border-radius: 1.6rem;
  background-color: #f9fefd;
  border: 0.1rem solid #abb2b7;
}

.search::placeholder {
  color: #abb2b7;
  padding-left: 46rem;
}

.icon--search {
  width: 3.2rem;
  height: 3.2rem;
  margin-left: -2.8rem;
  border-radius: 1.6rem;
  margin-top: 0.2rem;
  padding: 0.2rem;
}

/* drop lists */
.reading-bar__drob-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-left: 3rem;
}

.reading-bar__drob-lists::before,
.reading-bar__change-page::before {
  content: "";
  width: 0.2rem;
  height: 6rem;
  background-color: #f9fefd;
  margin-left: -20rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list:hover {
  cursor: pointer;
}

.list:hover .icon--dropdown {
  fill: #1abc9c;
}

.list__text,
.pages {
  font-size: 1.7rem;
  font-weight: 500;
  color: #f9fefd;
  margin-right: 1rem;
}

.icon--dropdown {
  fill: #f9fefd;
  width: 2.5rem;
  height: 2.5rem;
}

/* changing pages */
.reading-bar__change-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -25rem;
  /* position: absolute; */
}

.reading-bar__change-page::before {
  margin-left: 0;
  margin-right: 3rem;
}

.icon--page {
  fill: #f9fefd;
  width: 2rem;
  height: 2rem;
}

.icon--page:hover {
  fill: #1abc9c;
  cursor: pointer;
}

.pages {
  margin-left: 1rem;
}
/* READING BAR/end */

/* ---------HEADER/end */

/* ---------SURAH CONTENTS/start */

.surah-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.surah-contents__page {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  margin: 5rem 0;
}

.page-num {
  width: auto;
  padding: 1rem 1.2rem;
  background-color: #1abc9c;
  /* border-right: 2px solid #abb2b7;
  border-bottom: 2px solid #abb2b7; */
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #f9fefd;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -20rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.page--verses {
  font-size: 2.7rem;
  text-align: justify;
  line-height: 4rem;
}

/* ---------SURAH CONTENTS/end */
